*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='card-'] {
  float: left;
  width: 90px;
  border: 1px solid;
  border-radius: 5px;
}

.content {
  display: inline-block;
  font-weight: bold;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 88px;
  font-size: 3.5em;
}

.text-content {
  text-align: center;
  line-height: 88px;
  border-radius: 5px;
  }

.back-side {
  border-radius: 5px;
  background: #727267;
  z-index: 2;
}

.front-side {
  border-radius: 5px;
  transform: rotateY(180deg);
}

.image-content {
  opacity: 0;
  height: 90px;
  width: 90px;
  position: absolute;
  top: 0;
  border-radius: 5px;
}

.image-content.learning {
  opacity: 0.2;
}

.front-side, .back-side {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.flip-container {
  perspective: 1000;
}

.flip-container:active .flipper, .flip-container.active .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front-side, .back-side {
  width: 100%
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}


[class*='card-'] {
  height: 90px;
  margin-top: 20px;
  margin-right: 20px;
}
