$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

.container:after {
  content: "";
  display: table;
  clear: both;
}

.container {
      width: 750px;
}
.picked {
  background-color: #edebe1;
} 

.connection-info.ng-hide-remove {
  display:block!important;
}

.game-info.ng-hide-add {
  display:block!important;
}
.connection-info.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition:0.5s linear all;
}

.game-info.ng-hide-add.ng-hide-add-active {
  -webkit-transition:0.5s linear all;
}
