$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

.container:after {
  content: "";
  display: table;
  clear: both;
}

@media  screen and (min-width: 768px),
        screen and (max-width: 768px) {
  .container {
      width: 750px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
      width: 1000px;
  }
}

.picked {
  background-color: red;
} 


.connection-info.ng-hide-remove {
  display:block!important;
}

.game-info.ng-hide-add {
  display:block!important;
}
.connection-info.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition:0.5s linear all;
}

.game-info.ng-hide-add.ng-hide-add-active {
  -webkit-transition:0.5s linear all;
}
