$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

.container:after {
  content: "";
  display: table;
  clear: both;
}

.container {
      width: 750px;
}
/*
.picked {
  background-color: #edebe1;
} */
