<p> Hey, your id is: <span class="label label-info">{{peerId}}</span> </p>
<div class="connection-info" ng-show="!connected">
  <button ng-click="createGame()" class="btn btn-success">Create game</button>
  <h4>or</h4>
  <button ng-click="connect()" class="btn btn-info">Connect to someone</button>
  Put your oppont id: <input ng-model="targetPeerId"> 

</div>

<div class="game-info" ng-show="connected">
  <h3>Your score: {{collection.score}}</h3>
  <h3>Your opponets score: {{opponentScore}}</h3>

  <div ng-repeat="card in collection.cards" ng-click="collection.cardClicked(card)">
    <div class="flip-container" ng-class="{active: card.flipped}">
      <div class="card-{{ $index % 6 }} flipper">
        <div class="front-side" ng-show="card.flipped" ng-class="{picked: card.picked}">
          <div class="text-content"> {{card.text}} </div>
        </div>
        <div class="back-side" ng-show="!card.flipped">
          <span class="content">?</span>
        </div>
      </div>
    </div>
  </div>

</div>
