<div>
<p>
  Hey, your id is: <span class="label label-info">{{peerId}}</span>
</p>
<button ng-click="createGame()" class="btn">Create game</button>
<p>or</p>
Peer id: <input ng-model="targetPeerId"> <button ng-click="connect()" class="btn">Connect to someone</button>

<h2>{{message}}</h2>
<h3>Your score: {{collection.score}}</h3>
<h3>Your opponets score: {{opponentScore}}</h3>

  <div ng-repeat="card in collection.cards" ng-click="collection.cardClicked(card)">
    <div class="flip-container" ng-class="{active: card.flipped}">
      <div class="card-{{ $index % 6 }} flipper">
        <div class="front-side" ng-show="card.flipped" ng-class="{picked: card.picked}">
          <div class="text-content"> {{card.text}} </div>
        </div>
        <div class="back-side" ng-show="!card.flipped">
          <span class="content">?</span>
        </div>
      </div>
    </div>
  </div>
</div>
